// $wrapper: 2.2rem;
$wrapper: 3rem;
$size: calc($wrapper - 1rem);

.MetricTrend {
	width: 16rem;
	border-radius: 1rem;
	border: $borderLight;
	padding: 1rem 1.5rem;

	&_top {
		width: 100%;
		height: auto;
		@include flex_row(flex-start, center);
		gap: 0 0.5rem;

		&_wrapper {
			width: $wrapper;
			height: $wrapper;
			border-radius: 50%;
			@include rowCenter();
		}

		&_icon {
			width: $size;
			height: $size;
		}
		&_title {
			font-size: 1.6rem;
			color: $text2;
		}
	}
	&_main {
		width: 100%;
		height: 13rem;
		@include flex_col(flex-start, flex-start);

		&_value {
			font-size: 2.5rem;
			font-weight: 700;
			color: $text1;
			margin: auto 0 0 0;
			// padding-top: 4.5rem;
		}

		&_delta {
			width: 100%;
			font-size: 1.3rem;
			color: $text2;
			@include flex_row(flex-end, center);
			gap: 0 0.5rem;
			// margin-bottom: auto;
			margin-top: auto;
		}

		&_label {
			font-size: 1.4rem;
			color: $text3;
			// margin-top: auto;
			// margin-left: auto;
		}
	}
}
