$wrapper: 3rem;
$size: calc($wrapper - 1rem);

.MetricTrend {
	// width: 100%;
	// width: 16rem;
	width: 18rem;
	border-radius: 1rem;
	border: $borderLight;
	padding: 1rem 1.5rem;
	margin: 1rem 0;

	&_top {
		width: 100%;
		height: auto;
		@include flex_row(flex-start, center);
		gap: 0 0.5rem;

		&_wrapper {
			width: $wrapper;
			height: $wrapper;
			border-radius: 50%;
			@include rowCenter();
		}

		&_icon {
			width: $size;
			height: $size;
		}
		&_title {
			font-size: 1.8rem;
			color: $text2;
		}
	}
	&_main {
		width: 100%;
		height: 13rem;
		@include flex_col(flex-start, flex-start);

		// Primary Number
		&_value {
			font-size: 2.5rem;
			font-weight: 700;
			color: $text1;
			margin: auto 0 0 0;
		}

		// 'avg <unit>'
		&_label {
			font-size: 1.4rem;
			color: $text3;
		}

		// Delta/Trend Arrow
		&_delta {
			width: 100%;
			font-size: 1.3rem;
			color: $text2;
			@include flex_row(flex-end, center);
			gap: 0 0.5rem;
			margin-top: auto;
		}
	}
}
