.RecapChart {
	width: 100%;

	&_top {
		width: 100%;
		@include flex_row(flex-start, center);
		gap: 0 0.5rem;

		&_icon {
			width: 1.5rem;
			height: 1.5rem;
			fill: $text1;
		}
		&_title {
			font-size: 1.4rem;
			color: $text1;
		}
	}
	&_chart {
		width: 100%;
		margin-top: 2rem;
	}
}
