.RecapChart {
	width: 100%;

	&_top {
		width: 100%;
		@include flex_row(flex-start, center);
		gap: 0 1rem;

		&_icon {
			$size: 2rem;
			width: $size;
			height: $size;
			fill: $text1;
		}
		&_title {
			font-size: 2rem;
			color: $text1;
		}
	}
	&_chart {
		width: 100%;
		margin-top: 2rem;
	}
	&_bottom {
		width: 100%;
		padding: 1rem 0;
	}
}

.Title {
	width: 100%;
	@include flex_row(flex-start, center);
	gap: 0 1rem;

	&_icon {
		$size: 2rem;
		width: $size;
		height: $size;
		fill: $text1;
	}
	&_title {
		font-size: 2rem;
		color: $text1;
	}
}
