.RecapTrendLine {
	width: 100%;
	height: auto;
	border: $borderLight;
	border-radius: 1rem;
	padding: 0.5rem 1rem;

	&_label {
		width: 100%;
		height: 4rem;
		font-size: 1.4rem;
		color: $text1;
	}
	&_line {
		width: 100%;
		height: 7rem;
	}
}
