.RecentHistoryTabs {
	width: 100%;
}

.RecentWorkouts {
	width: 100%;
	height: 35rem;
	overflow-y: auto;
}
.RecentHabits {
	width: 100%;
	height: 35rem;
	overflow-y: auto;
}

.RecentWorkoutEntry {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--todayStyles);
	border: 1px solid var(--cardBorder);
	border-radius: 0 0.5rem 0.5rem 0;
	border-left: 4px solid var(--cardBorder);
	margin: 0.5rem 0;

	&_top {
		width: 100%;

		&_title {
			font-size: 1.4rem;
			font-weight: 500;
			color: $text3;
		}
		&_when {
			font-size: 1.2rem;
			color: $text2;
		}
	}
	&_main {
		width: 100%;
		height: 3.5rem;
		@include flex_row(space-between, flex-end);
	}
}

.RecentHabitEntry {
	position: relative;
	width: 100%;
	min-height: 8rem;
	padding: 1rem 2rem 2rem 1rem;
	border-radius: 1rem;
	border: 0.3px solid var(--lightBorder);
	background-color: var(--todayStyles);
	margin: 0.7rem 0;

	// Don't want extra space at top of the list
	&:first-of-type {
		margin-top: 0;
	}

	&_top {
		width: 100%;
		@include flex_row(flex-start, center);
		gap: 0 0.5rem;

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: $text2;
		}

		&_title {
			font-size: 1.6rem;
			font-weight: 700;
			color: $text1;
		}
		&_when {
			font-size: 1.3rem;
			font-weight: 300;
			color: $text2;
			padding-left: 2.5rem;
		}
	}
	&_amount {
		position: absolute;
		display: block;
		top: 0.5rem;
		right: 0.5rem;
		font-size: 1.3rem;
		color: $text2;
	}
	&_loggedAt {
		position: absolute;
		display: block;
		right: 0.5rem;
		bottom: 0.5rem;
		font-size: 1.3rem;
		color: $text2;
	}
}

.WhenBadge,
.TimeBadge {
	width: max-content;
	margin-left: auto;
	color: $text2;
	font-size: 1.2rem;
}

.MinsBadge {
	width: max-content;
	color: $accentBlue;
	@include flex_row(center, center);
	gap: 0 0.2rem;
	font-size: 1.3rem;

	&_icon {
		width: 1.4rem;
		height: 1.4rem;
		fill: $accentBlue;
	}
}
