.CardsCarousel {
	position: relative;
	width: 100%;
	height: auto;
	padding: 1rem 0;

	&_inner {
		width: 100%;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		@include flex_row(flex-start, center);
		gap: 0 6rem;

		&_card {
			min-width: 100%;
			@include rowCenter();
			border-radius: 1rem;
			scroll-snap-align: center;
		}
	}
}

@media only screen and (min-width: $bp-SM) {
	.CardsCarousel {
		position: relative;
		width: 100%;
		height: auto;
		padding: 1rem 0;

		&_inner {
			width: 100%;
			gap: 0 2rem;
			padding: 0 1rem;

			&_card {
				min-width: clamp(260px, 30vw, 360px);
				border-radius: 1rem;
				scroll-snap-align: start;
			}
		}
	}
}
