.Navbar {
	position: fixed;
	display: block;
	bottom: 0dvh;
	left: 0dvw;
	width: 100dvw;
	height: 7rem;
	border-top: $borderLight;
	overflow-x: hidden;
	@include glassy(var(--glassy));
	z-index: 500;

	&_list {
		width: 100%;
		height: 100%;
		@include flex_row(space-between, center);
		list-style: none;
		padding: 1rem 2rem;

		&_item {
			width: 5rem;
			height: 100%;
			@include colCenter();

			&_icon {
				width: 2.5rem;
				height: 2.5rem;
				fill: $text3;
			}
		}
	}
}

.isActive {
	color: $accentBlue;
	& > svg {
		fill: $accentBlue;
	}
}
