$iconSize: 3.5rem;

.WorkoutIsland {
	position: fixed;
	bottom: 8rem;
	left: 50%;
	transform: translateX(-50%);
	width: 50dvw;
	max-width: 36rem;
	// padding: 0.5rem;
	background: #000;
	overflow: hidden;

	transition: border-radius 0.35s ease,
		max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);

	&.collapsed {
		border-radius: 5rem;
		max-height: 4.5rem;
		min-height: 4.5rem;
	}

	&.expanded {
		border-radius: 1.8rem;
		max-height: 50rem;
	}
}

.WorkoutIsland_content {
	display: grid;
	grid-template-rows: 1fr 0fr;
	transition: grid-template-rows 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	overflow: hidden;
	align-items: stretch;

	.WorkoutIsland.expanded & {
		grid-template-rows: 0fr 1fr;
		align-items: start;
	}

	> * {
		min-height: 0;
		overflow: hidden;
	}

	.CollapsedSection {
		display: flex;
		align-self: stretch;
		height: 100%;
		padding: 0.5rem;
		align-items: flex-start;
	}

	.ExpandedSection {
		overflow: visible;
		min-height: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		padding: 0.5rem;
		align-self: start;

		&_top {
			margin-top: -1rem;
		}
	}
}

.CollapsedSection {
	width: 100%;
	@include flex_row(flex-start, center);
	gap: 0 1rem;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;

	.WorkoutIsland.expanded & {
		opacity: 0;
		pointer-events: none;
	}

	&_left {
		flex: 1;
		@include flex_row(flex-start, center);
		gap: 0 1rem;
		align-items: center;

		&_iconWrapper {
			width: $iconSize;
			height: $iconSize;
			border-radius: 50%;
			background-color: var(--pinkBG);
			@include rowCenter();
			&_icon {
				width: calc($iconSize - 30%);
				height: calc($iconSize - 30%);
				fill: var(--accent);
				cursor: pointer;
			}
		}

		&_title {
			font-size: 1.6rem;
			font-weight: 500;
			color: $text1;
		}
	}
	&_right {
		flex-shrink: 0;
		@include flex_row(flex-end, center);
		gap: 0 1rem;
		align-items: center;
	}
}

.Content {
	display: flex;
	flex-direction: column;
}

.ActivityIcon {
	width: $iconSize;
	height: $iconSize;
	border-radius: 50%;
	@include rowCenter();

	&_icon {
		width: calc($iconSize - 30%);
		height: calc($iconSize - 30%);
		cursor: pointer;
	}
}

@mixin iconStyles() {
	width: $iconSize;
	height: $iconSize;
	border-radius: 50%;
	@include rowCenter();
	cursor: pointer;

	&_icon {
		width: calc($iconSize - 30%);
		height: calc($iconSize - 30%);
		fill: var(--accent);
		cursor: pointer;
	}
}

.PlayIcon {
	@include iconStyles();
	background-color: rgba(185, 0, 52, 0.26);
}
.PauseIcon {
	@include iconStyles();
}
.ResumeIcon {
	@include iconStyles();
}
.DismissIcon {
	@include iconStyles();
}

.ExpandedSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.2s ease 0.15s;
	pointer-events: none;
	overflow: visible;
	min-height: auto;

	.WorkoutIsland.expanded & {
		opacity: 1;
		pointer-events: auto;
	}

	&_top {
		@include flex_row(flex-start, center);
		gap: 0 1rem;
		margin-bottom: 1rem;
		flex-shrink: 0;

		&_title {
			font-size: 1.6rem;
			font-weight: 500;
			color: $text1;
		}
	}
	&_body {
		width: 100%;
		flex: 1 1 auto;
		min-height: 10rem;
	}
}
