.env
.env*
.env.production
.env.local
.env.development

./client/.env
./client/.env*
./client/.env.local
./client/.env.production
./client/.env.development

./server/.env
./server/.env*
./server/.env.local
./server/.env.production
./server/.env.development

./certs
./certs/*
./certs/cert.pem
./certs/key.pem

cert.pem
key.pem