version: "3.9"

services:
  client:
    build: ./client
    env_file:
      - .env.production
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server
    volumes:
      - /etc/letsencrypt/live/app.sgore.dev/fullchain.pem:/etc/ssl/certs/app.sgore.dev.crt:ro
      - /etc/letsencrypt/live/app.sgore.dev/privkey.pem:/etc/ssl/private/app.sgore.dev.key:ro
    restart: always

  server:
    build: ./server
    env_file:
      - .env.production
    depends_on:
      - db
    restart: always

  db:
    build: ./db
    restart: always
    env_file:
      - .env.production
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
