version: "3.9"

services:
  client:
    build: ./client
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server
    volumes:
      - /etc/letsencrypt/live/app.mydomain.dev:/etc/ssl/live:ro
      - /etc/letsencrypt/archive/app.mydomain.dev:/etc/ssl/archive:ro
      - /etc/letsencrypt/renewal:/etc/ssl/renewal:ro
    restart: always

  server:
    build: ./server
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:17
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
