.CardioHistoryEntry {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	color: $text2;
	font-size: 1.2rem;
}
.SetBadge {
	$color: $accentBlue;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	color: $color;
	font-size: 1.2rem;
	@include rowCenter();
	gap: 0 0.2rem;

	&_icon {
		width: 1.3rem;
		height: 1.3rem;
		fill: $color;
	}
}
