.WorkoutRecap {
	position: fixed;
	display: block;
	inset: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: var(--bg-foreground);
	z-index: 9999;

	&_carousel {
		display: flex;
		width: 100vw;
		height: 100vh;

		overflow-x: auto;
		overflow-y: hidden;

		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;

		-webkit-overflow-scrolling: touch;

		scrollbar-width: none;
	}
}

.slide {
	flex: 0 0 100vw;
	height: 100%;
	max-height: 85dvh;
	scroll-snap-align: start;
}

.TapZones {
	position: fixed;
	inset: 0;
	top: 15rem;
	display: flex;
	height: calc(100% - 15rem);
	z-index: 10;
}

.leftZone,
.rightZone {
	flex: 1;
}

/* IMPORTANT: allow scrolling to pass through */
.leftZone,
.rightZone {
	pointer-events: auto;
}

.CarouselTop {
	width: 100%;
	height: 10rem;
	padding-bottom: 1.5rem;
	@include colCenter();
	margin-bottom: 1rem;
	// border: 1px solid red;

	&_indicators {
		width: 100%;
		height: 5rem;
		padding-top: 0.3rem;
	}

	&_other {
		width: 100%;
		padding: 0.5rem 2rem;
		@include flex_row(space-between, center);
	}
	&_close {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		align-self: flex-end;
		@include rowCenter();
		background-color: var(--blueGrey900);
		border: none;
		outline: none;

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: var(--blueGrey400);
		}
	}
}

.TitleSection {
	width: auto;

	&_title {
		font-size: 1.4rem;
		font-weight: 600;
		color: var(--blueGrey500);
	}
	&_dates {
		font-size: 1.2rem;
		font-weight: 500;
		color: var(--blueGrey700);
	}
}

.IndicatorButton {
	padding: 0.2rem 0.3rem;
	border-radius: 0.2rem;
	border: none;
	outline: none;
	flex: 1;
}

.CardIndicators {
	width: 100%;
	padding: 1rem 2rem;
	@include flex_row(center, center);
	gap: 0 0.5rem;
}
