.StreaksStatusOverlay {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	z-index: 9999;
	// padding: 4rem;

	&_top {
		width: 100%;
		height: 5rem;
		padding: 0 2rem;
		@include flex_row(flex-end, center);

		&_close {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			@include rowCenter();
			border: none;
			outline: none;
			cursor: pointer;
			background-color: var(--bg-foreground);

			&_icon {
				width: 2.5rem;
				height: 2.5rem;
				fill: $accentRed;
			}
		}
	}

	&_flame {
		width: 100%;
		@include rowCenter();
	}

	&_streak {
		width: 100%;
		@include rowCenter();
		gap: 0 1rem;
		font-size: 3rem;
		font-weight: 800;
		text-align: center;
		margin: 1rem 0 2rem 0;

		& > b {
			color: $accentBlue;
		}
	}

	&_encourage {
		width: 100%;
		height: 5rem;
		font-size: 2rem;
		font-weight: 700;
		@include rowCenter();
		flex-wrap: wrap;
		text-align: center;
	}

	&_actions {
		width: 100%;
		margin-top: 6rem;
		@include rowCenter();
		gap: 0 2rem;

		&_dismiss {
			padding: 1rem 1.2rem;
			border-radius: 5rem;
			background-color: #000;
			color: #fff;
			outline: none;
			border: $borderLight;
			font-size: 1.7rem;
		}
		&_goTo {
			padding: 1rem 1.2rem;
			border-radius: 5rem;
			background-color: $accentBlue;
			color: #fff;
			outline: none;
			border: $borderLight;
			font-size: 1.7rem;
		}
	}
}
