.ActiveWorkoutIndicator {
	width: 100%;
	height: 7rem;
	border-radius: 5rem;
	padding: 0.3rem 0.5rem;
	background-color: var(--bg-input);

	&_left {
		width: 100%;
		height: 100%;
		@include flex_row(center, flex-start);
		gap: 0 1rem;

		&_icon {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			fill: var(--accent-green);
		}
		&_text {
			width: 100%;
			height: 100%;
			@include flex_col(center, flex-start);
			gap: 0 0.5rem;
			&_title {
				font-size: 1.6rem;
				font-weight: 700;
				color: var(--text-primary);
			}
			&_subtitle {
				font-size: 1.2rem;
				font-weight: 400;
				color: var(--text-secondary);
			}
		}
	}

	&_right {
		width: 100%;
		height: 100%;
		@include flex_row(center, flex-end);
		gap: 0 1rem;
	}
}
.PlayIcon {
	width: 2rem;
	height: 2rem;
	fill: var(--accent);
	cursor: pointer;
}
.CancelIcon {
	width: 2rem;
	height: 2rem;
	fill: var(--blueGrey700);
	cursor: pointer;
}
