.MenuDropdown {
	position: absolute;
	display: block;
	isolation: isolate;
	top: 2rem;
	right: 0;
	width: 12rem;
	min-height: max-content;
	height: auto;
	border-radius: 1rem;
	border: $borderLight;
	background-color: $background;
	padding: 1rem 1rem 0.5rem 1rem;
	-webkit-box-shadow: -2px 4px 33px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 4px 33px -8px rgba(0, 0, 0, 0.75);
	box-shadow: -2px 4px 33px -8px rgba(0, 0, 0, 0.75);
	z-index: 9999;

	&_list {
		list-style: none;
		@include flex_col(flex-start, flex-start);
		gap: 0.7rem 0;

		& li,
		&_item {
			width: 100%;
			padding: 0.3rem 0;
			font-size: 1.3rem;
			color: var(--blueGrey400);
			z-index: 9999;
			&:hover {
				cursor: pointer;
			}

			// Mark as done
			&:nth-last-of-type(3n - 1) {
				color: $accentGreen;
			}

			// Delete
			&:last-of-type {
				padding: 0.5rem 0;
				margin-top: auto;
				margin-top: 1rem;
				color: var(--accent-red);
				border-top: $borderLight;
			}
		}
	}
}

.MenuIcon {
	width: max-content;
	height: max-content;
	cursor: pointer;

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: var(--blueGrey600);
	}
}
