.PasswordInput {
	position: relative;
	width: 100%;
	height: auto;

	&_input {
		width: 100%;
		height: 3.5rem;
		border-radius: 0.5rem;
		padding-left: 0.5rem;
		font-size: 1.6rem;
		outline: none;
		background-color: $foreground;
		border: $border;
		color: $text1;
		&:hover {
			border-color: var(--accent);
			cursor: pointer;
		}
		&:focus-within {
			border-color: var(--accent);
			cursor: pointer;
		}

		&::placeholder {
			font-weight: 400;
			color: $text2;
		}

		&::-webkit-autofill {
			background-color: $foreground !important;
		}
		&::-webkit-autofill:hover,
		&::-webkit-autofill:focus,
		&::-webkit-autofill:active {
			background-color: $foreground !important;
		}
	}

	&_wrapper {
		position: absolute;
		display: block;
		top: 18%;
		right: 0.7rem;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		background-color: $foreground;
		@include rowCenter();

		&_icon {
			width: 1.6rem;
			height: 1.6rem;
			fill: $text3;
		}
	}
}

input[type="password"] {
	&:-webkit-autofill {
		background-color: $foreground !important;
		-webkit-box-shadow: 0 0 0px 1000px $foreground inset !important;
		-webkit-text-fill-color: $text1 !important;
	}
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		background-color: $foreground !important;
	}
}
input::-webkit-autofill {
	background-color: $foreground !important;
	-webkit-box-shadow: 0 0 0px 1000px $foreground inset !important;
	-webkit-text-fill-color: $text1 !important;
}
input::-webkit-autofill:hover {
	background-color: $foreground !important;
}
input::-webkit-autofill:focus {
	background-color: $foreground !important;
}
input::-webkit-autofill:active {
	background-color: $foreground !important;
}
input::-webkit-autofill:focus-within {
	background-color: $foreground !important;
}
