@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.TextInput {
	width: 100%;
	height: auto;

	&_input {
		width: 100%;
		max-width: 80rem;
		height: 3.5rem;
		border-radius: 0.5rem;
		padding-left: 0.5rem;
		font-size: 1.6rem;
		outline: none;
		background-color: $foreground;
		border: $border;
		color: $text1;
		&:hover {
			border-color: var(--accent);
			cursor: pointer;
		}
		&:focus-within {
			border-color: var(--accent);
			cursor: pointer;
		}

		&::placeholder {
			font-weight: 400;
			color: $text2;
		}

		&:-webkit-autofill {
			background-color: var(--input-bg) !important;
		}
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			background-color: var(--input-bg) !important;
		}
	}
}

input[type="text"] {
	&:-webkit-autofill {
		background-color: $foreground !important;
		-webkit-box-shadow: 0 0 0px 1000px $foreground inset !important;
		-webkit-text-fill-color: $text1 !important;
	}
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		background-color: $foreground !important;
	}
}
input::-webkit-autofill {
	background-color: $foreground !important;
	-webkit-box-shadow: 0 0 0px 1000px $foreground inset !important;
	-webkit-text-fill-color: $text1 !important;
}
input::-webkit-autofill:hover {
	background-color: $foreground !important;
}
input::-webkit-autofill:focus {
	background-color: $foreground !important;
}
input::-webkit-autofill:active {
	background-color: $foreground !important;
}
input::-webkit-autofill:focus-within {
	background-color: $foreground !important;
}
