.RecapCardTop {
	width: 100%;
	height: 10rem;
	padding-bottom: 1.5rem;
	@include colCenter();
	margin-bottom: 1rem;
	// border: 1px solid red;

	&_indicators {
		width: 100%;
		height: 5rem;
		padding-top: 0.3rem;
	}

	&_other {
		width: 100%;
		padding: 0.5rem 2rem;
		@include flex_row(space-between, center);
	}
	&_close {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		align-self: flex-end;
		@include rowCenter();
		background-color: var(--blueGrey900);
		border: none;
		outline: none;

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: var(--blueGrey400);
		}
	}
}

.TitleSection {
	width: auto;

	&_title {
		font-size: 1.4rem;
		font-weight: 600;
		color: var(--blueGrey500);
	}
	&_dates {
		font-size: 1.2rem;
		font-weight: 500;
		color: var(--blueGrey700);
	}
}
