.Title {
	font-size: 3.5rem;
	color: $text1;
	// text-overflow: clip;
	text-wrap: wrap;
	white-space: normal;
	overflow-wrap: break-word;
	min-width: 0;
}
.Desc {
	font-size: 1.6rem;
	font-weight: 500;
	color: $text3;
	// text-overflow: clip;
	text-wrap: wrap;
	white-space: normal;
	overflow-wrap: break-word;
	min-width: 0;
}
.body {
	@include fill_container;
	position: relative;
}
.particle {
	position: absolute;
	bottom: 0;
	border-radius: 50%;
	// background-color: var(--accent);
	opacity: 0.8;
	animation: rise 1.5s ease-out forwards;
}

@keyframes rise {
	0% {
		transform: translateY(0) scale(1);
		opacity: 0.8;
	}
	50% {
		opacity: 1;
		transform: translateY(-20px) scale(1.2);
	}
	100% {
		transform: translateY(-350px) scale(0.8);
		opacity: 0;
	}
}
