.RecapCardBody {
	width: 100%;
	height: 100%;
	min-height: 55dvh;
	padding: 1rem;
	padding-bottom: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: auto;
	// border: 1px solid red;
}
