.WeeklyRecap {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: var(--bg-foreground);
	z-index: 9999;

	&_carousel {
		display: flex;
		width: 100vw;
		height: 100vh;

		overflow-x: auto;
		overflow-y: hidden;

		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;

		-webkit-overflow-scrolling: touch;

		scrollbar-width: none;
	}
}

.slide {
	flex: 0 0 100vw;
	height: 100%;
	max-height: 85dvh;
	scroll-snap-align: start;
}

.TapZones {
	position: fixed;
	inset: 0;
	top: 15rem;
	display: flex;
	height: calc(100% - 15rem);
	z-index: 10;
}

.leftZone,
.rightZone {
	flex: 1;
}

/* IMPORTANT: allow scrolling to pass through */
.leftZone,
.rightZone {
	pointer-events: auto;
}
