.Title {
	@include recapTitle();
	margin-top: 0.5rem;

	& > b {
		color: var(--strengthAccent);
	}
}
.Desc {
	@include recapDesc();
	& > b {
		color: var(--strengthAccent);
	}
}

.Metrics {
	width: 100%;
	@include rowCenter(wrap);
	gap: 1rem 1rem;
}
.Chart {
	width: 100%;
	padding: 0 1rem;
}
