.Title {
	@include recapTitle();
	margin-top: 0.5rem;

	& > b {
		color: var(--strengthAccent);
	}
}
.Desc {
	@include recapDesc();
	& > b {
		color: var(--strengthAccent);
	}
}

.Chart {
	width: 100%;
	padding: 3rem 1rem 0 1rem;
	margin-top: auto;
}

.Totals {
	width: 100%;
	@include rowCenter();
	flex-wrap: wrap;
	gap: 1rem;
}
.Delta {
	font-size: 1.7rem;
	text-align: center;
	margin: auto 0;
}
