.ChangeHabitGoal {
	width: 100%;
	padding: 0 3rem;

	&_title {
		width: 100%;
		font-size: 2rem;
		height: 3rem;
		@include rowCenter();
		text-align: center;
	}
	&_form {
		width: 100%;
		margin-top: 2rem;

		&_target {
			width: 100%;
			margin: 2rem 0 3rem 0;
			@include colCenter();

			& label {
				font-size: 1.5rem;
				color: $text2;
				margin-bottom: 1rem;
			}
		}

		&_field {
			width: 100%;
			margin: 2rem 0;

			& label {
				font-size: 1.5rem;
				color: $text2;
			}
		}
	}
	&_footer {
		width: 100%;
	}
}

.Footer {
	width: 100%;
	height: 100%;
	@include flex_row(flex-end, center);
	gap: 0 3rem;
	padding: 3rem 0;
	padding-bottom: 1rem;
	margin-bottom: 6rem;

	&_cancel {
		padding: 0.8rem 1.6rem;
		border-radius: 1rem;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 1.6rem;
		color: $text1;
	}
	&_save {
		padding: 0.8rem 1.6rem;
		border-radius: 1rem;
		background-color: $accentBlue;
		border: none;
		outline: none;
		font-size: 1.6rem;
		color: $text1;
	}
}
