.HabitHistoryModal {
	@include fill_container;
	padding: 1rem 2rem;
	max-width: 60rem;
	display: block;
	margin: 0 auto;

	&_header {
		width: 100%;
		height: 10rem;
		font-size: 2rem;
		text-align: center;
	}
}
