.HabitTracker {
	width: 100%;
	// height: 100dvh;
	height: 90dvh;
}

.HabitHeader {
	width: 100%;
	height: 10rem;

	$icon: 3rem;
	$size: 3rem;

	&_title {
		width: 100%;
		height: 100%;
		@include flex_row(center, center);
		gap: 0 0.7rem;

		&_icon {
			width: $icon;
			height: $icon;
			fill: #000;
		}
		&_name {
			font-size: $size;
			font-weight: 700;
		}
		&_last {
			text-align: center;
			font-size: 1.3rem;
			color: $text2;
			margin-top: -2rem;
		}
	}
}

.HistorySection {
	width: 100%;
	height: 5rem;
	@include rowCenter();

	&_btn {
		padding: 1rem 1.2rem;
		border-radius: 1rem;
		color: $accentBlue;
		outline: none;
		border: none;
		background-color: transparent;
		@include rowCenter();
		gap: 0 0.5rem;
		font-size: 1.6rem;

		&_icon {
			width: 1.6rem;
			height: 1.6rem;
			fill: $accentBlue;
		}
	}
}

.ManualLogger {
	width: 100%;
	@include rowCenter();

	&_btn {
		background-color: transparent;
		border: 1px solid $accentBlue;
		outline: none;
		padding: 0.5rem 0.7rem;
		border-radius: 5rem;
		color: $accentBlue;
	}

	&_log {
		width: 100%;

		&_input {
			width: 100%;
			height: 4rem;
			border-radius: 0.5rem;
		}
	}
}

.InputModal {
	max-width: fit-content;
	height: fit-content;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem 4rem;
	background-color: var(--bg-foreground);
	@include colCenter();
	gap: 1.5rem 0;
	font-size: 1.5rem;
	box-shadow: 0px 5px 36px 27px rgba(0, 0, 0, 0.35);
	border-radius: 1rem;

	&_input {
		width: 20rem;
		height: 15rem;
		border-radius: 1rem;
		background-color: var(--bg-input);
		border: $borderLight;
		outline: none;
		color: $text1;
		font-size: 4.5rem;
		text-align: center;
	}

	&_action {
		width: 100%;
		@include flex_row(flex-end, center);

		&_save {
			padding: 0.5rem 1.2rem;
			border-radius: 0.5rem;
			background-color: $accentBlue;
			color: #fff;
			border: none;
			outline: none;
		}
	}
}
