$display: 8rem;
$displayWidth: 14rem;

.QuickLogHabit {
	width: 100%;

	&_top {
		width: 100%;
		height: 15rem;
		font-size: 2rem;
		text-align: center;
		color: $text3;
	}

	&_display {
		width: 100%;
		height: 100%;
		@include colCenter();
		gap: 0 2rem;

		&_main {
			width: 100%;
			height: 100%;
			@include rowCenter();
			gap: 0 2rem;
		}

		&_unitDesc {
			width: 100%;
			font-size: 2.5rem;
			@include rowCenter();
			text-align: center;
			margin-top: 3rem;
		}
	}

	&_manual {
		width: 100%;
		height: 25rem;
		@include flex_col(flex-end, center);
		margin-top: auto;

		&_btn {
			padding: 0.5rem 1.2rem;
			border-radius: 5rem;
			border: 1px solid $text1;
			background-color: transparent;
			color: $text1;
		}
	}
}
.MinusButton {
	width: 5rem;
	height: 5rem;
	min-width: 5rem;
	min-height: 5rem;
	max-width: 5rem;
	max-height: 5rem;
	border-radius: 50%;
	background-color: var(--blueGrey200);
	background-color: transparent;
	outline: none;
	border: 1px solid #000;
	border: 1px solid var(--habitMinus);
	user-select: none;

	&_icon {
		width: 3.5rem;
		height: 3.5rem;
		fill: var(--habitMinus);
	}
}
.AddButton {
	width: 5rem;
	height: 5rem;
	min-width: 5rem;
	min-height: 5rem;
	max-width: 5rem;
	max-height: 5rem;
	border-radius: 50%;
	background-color: #000;
	border: 1px solid #fff;
	outline: none;
	user-select: none;

	&_icon {
		width: 3.5rem;
		height: 3.5rem;
		fill: #fff;
	}
}

.DisplayValue {
	position: relative;
	min-width: $displayWidth;
	width: fit-content;
	font-size: $display;
	text-align: center;
	color: var(--habitDisplay);
}

.DisplayInput {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 10ch; // wider edit surface
	min-width: $displayWidth;
	max-width: 14ch;

	font-size: $display;
	text-align: center;

	background: var(--bg-foreground);
	border: none;
	outline: none;

	color: var(--habitDisplay);
	z-index: 10;

	&:focus-within {
		color: $accentBlue;
	}
}
