@mixin scrollbar($color: var(--blueGrey400)) {
	&::-webkit-scrollbar {
		display: inline;
		display: none;
		border-radius: 5rem;
		width: 0.8rem;
		// display: none;
	}
	&::-webkit-scrollbar-thumb {
		width: 0.8rem;
		border-radius: 5rem;
		background-color: $color;
	}
}

@mixin cardBase() {
	width: 100%;
	height: max-content;
	border-radius: 1rem;
	border: 1px solid var(--cardBorder);
	padding: 1rem;
}
/* From https://css.glass */
@mixin glassy($color: rgba(12, 15, 19, 0.75)) {
	background-color: $color;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@mixin blueGradient() {
	background-image: var(--blueGradient);
}
@mixin redGradient() {
	background-image: var(--redGradient);
}
@mixin greenGradient() {
	background-image: var(--greenGradient);
}
@mixin yellowGradient() {
	background-image: var(--yellowGradient);
}
@mixin purpleGradient() {
	background-image: var(--purpleGradient);
}
@mixin pinkGradient() {
	background-image: var(--pinkGradient);
}

// Modal Mixins

@mixin dialog() {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	transform: translate(-0%, -0%);
	width: 100dvw;
	height: 65dvh;
	border-radius: 2rem 2rem 0 0;
	border: $borderLight;
	background-color: $foreground;
	z-index: 9999;

	&_top {
		width: 100%;
		height: 4rem;
	}

	&_main {
		position: relative;
		@include fill_container;
		padding: 1rem;
	}
}
@mixin modal() {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	transform: translate(-0%, -0%);
	width: 100dvw;
	height: 50dvh;
	border-radius: 2rem 2rem 0 0;
	border: $borderLight;
	background-color: $foreground;
	z-index: 9999;

	&_top {
		width: 100%;
		height: 4rem;
	}

	&_main {
		position: relative;
		@include fill_container;
		padding: 1rem;
	}
}
@mixin modalLG() {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	// transform: translate(-0%, -0%);
	transform: translate(-50%, -0%);

	width: 100dvw;
	height: 90dvh;
	border-radius: 2rem 2rem 0 0;
	border: $borderLight;
	background-color: $foreground;
	z-index: 9999;

	&_top {
		width: 100%;
		height: 4rem;
	}

	&_main {
		// position: relative;
		@include fill_container;
		// padding: 1rem;
	}
}

// CALENDAR MIXINS
@mixin calendar() {
	@include fill_container;
	@include colCenter();
	border-radius: 1rem;
	background-color: $foreground;
}
@mixin calendarHeader() {
	@include fill_container;

	&_current {
		width: 100%;
		@include flex_row(center, center);
		gap: 0 0.5rem;
		margin-bottom: 1.5rem;
		font-size: 1.8rem;
		&_month {
			font-weight: 700;
			color: $text1;
		}
		&_year {
			font-weight: 600;
			color: $text3;
		}
	}

	&_weekdays {
		width: 100%;
		@include flex_row(space-evenly, center);
		gap: 0 1rem;

		&_day {
			font-size: 1.5rem;
			color: $text2;
		}
	}
}
@mixin calendarBody() {
	@include fill_container;
	min-height: 40rem;
	overflow-y: auto;
	@include scrollbar();
}
@mixin calendarFooter() {
	@include fill_container;
	@include flex_row(flex-end, center);
	gap: 0 0.5rem;
	border-top: $borderLight;
	font-size: 1.6rem;

	&_reset {
		padding: 0.7rem 1.3rem;
		border-radius: 1rem;
		background-color: transparent;
		color: $text3;
		border: 1px solid $text3;
		outline: none;
		margin-right: auto;
		&:hover {
			cursor: pointer;
		}
	}
	&_cancel {
		padding: 0.7rem 1.3rem;
		border-radius: 1rem;
		background-color: transparent;
		color: $text1;
		border: none;
		outline: none;
		&:hover {
			cursor: pointer;
		}
	}
	&_confirm {
		padding: 0.7rem 1.3rem;
		border-radius: 1rem;
		background-color: $accentBlue;
		color: #fff;
		border: none;
		outline: none;
		&:hover {
			cursor: pointer;
		}
	}
}
@mixin calendarDay() {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: transparent;
	color: $text1;
	&:hover {
		cursor: pointer;
	}
}
