.UserWorkout {
	width: 100%;
	min-width: 100%;
	height: 12rem;
	border: 1px solid var(--todaysBorder);
	border-radius: 0 1rem 1rem 0;
	padding: 1rem;
	background-color: var(--todayStyles);
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	&:focus-within {
		cursor: pointer;
		opacity: 1;
	}

	&_top {
		width: 100%;
		height: 3.5rem;
		@include flex_row(flex-start, center);
		gap: 0 0.7rem;

		&_title {
			font-size: 2.2rem;
			color: $text1;
			align-self: flex-start;

			&_about {
				font-size: 1.2rem;
				color: $text2;
			}
		}

		&_more {
			position: relative;
			width: max-content;
			margin-left: auto;
			align-self: flex-start;
			margin-top: -0.5rem;

			&_icon {
				width: 1.6rem;
				height: 1.6rem;
				fill: var(--todaysBorder);
				cursor: pointer;
			}
		}
	}

	&_bottom {
		width: 100%;
		height: calc(100% - 3.5rem);
		@include flex_row(space-between, flex-end);
		// border: 1px solid red;

		&_times {
			margin-right: auto;
			color: $text2;
			font-size: 1.4rem;
			padding-left: 4rem;
		}
	}
}

$size: 3rem;
$icon: calc($size - 30%);

.TypeBadge {
	width: $size;
	height: $size;
	border-radius: 50%;
	// border: $borderLight;
	@include rowCenter();

	&_icon {
		width: $icon;
		height: $icon;
		fill: #fff;
	}
}

.StartButton {
	$size: 2.2rem;
	width: $size;
	height: $size;
	min-width: $size;
	min-height: $size;
	border-radius: 50%;
	border-radius: 5rem;
	outline: none;
	border: none;
	background-color: $accentAltBG;
	@include rowCenter();

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: $accentAlt;
	}
}

.IsCompleted {
	padding: 0.2rem 0.4rem;
	border-radius: 5rem;
	border: 1px solid rgba(0, 226, 189, 1);
	background-color: rgba(0, 226, 189, 0.1);
	color: rgb(0, 226, 189);
}

.Footer {
	width: 100%;
	height: 100%;
	@include flex_row(flex-end, center);
	gap: 0 1rem;
	&_cancel {
		padding: 0.6rem 1.6rem;
		border-radius: 0.5rem;
		border: none;
		font-size: 1.6rem;
		outline: none;
		background-color: transparent;
		color: $text1;
	}
	&_save {
		padding: 0.6rem 1.6rem;
		border-radius: 0.5rem;
		border: none;
		outline: none;
		font-size: 1.6rem;
		background-color: $accentBlue;
		color: var(--textColor);
	}
}

.isDone {
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	&:focus-within {
		cursor: pointer;
		opacity: 1;
	}
}

.isDoneFocused {
	opacity: 1;
}

.isDone {
	opacity: 0.7;
	border-left: 5px solid rgba(0, 226, 189, 1);
	transition: opacity 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	&:focus-within {
		cursor: pointer;
		opacity: 1;
	}
}
.isSkipped {
	opacity: 0.4;
	border-left: 5px solid var(--accent-red);
	transition: opacity 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	&:focus-within {
		cursor: pointer;
		opacity: 1;
	}
}

.notComplete {
	border-left: 5px solid var(--todaysBorder);
}

.SkippedBadge {
	padding: 0.2rem 0.4rem;
	border-radius: 5rem;
	border: 1px solid rgba(255, 51, 61, 1);
	background-color: rgba(185, 0, 52, 0.2);
	color: rgba(255, 51, 61, 1);
}
.CompletedBadge {
	padding: 0.2rem 0.4rem;
	border-radius: 5rem;
	border: 1px solid rgba(0, 226, 189, 1);
	background-color: rgba(0, 226, 189, 0.1);
	color: rgb(0, 226, 189);
}
