.ChatQuickPrompts {
	width: 100%;
	height: 6rem;

	&_inner {
		@include fill_container;
		padding: 0 1rem;
		overflow-x: auto;
	}
}

.ChatPrompt {
	width: max-content;
	font-size: 1.5rem;
	color: $text3;
	padding: 0.2rem 0.5rem;
	border-radius: 5rem;
	border: none;
	outline: none;
	cursor: pointer;
}
