.ChatQuickPrompts {
	width: 100%;
	height: 100%;
	@include colCenter();

	&_inner {
		@include fill_container;
		@include flex_col(flex-start, center);
		gap: 2rem 1rem;
		padding: 1rem;
	}
}

.QuickPromptButton {
	width: max-content;
	font-size: 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
}
