.ChatWindow {
	position: relative;
	@include fill_container;

	&_messages {
		position: relative;
		width: 100%;
		height: 90%;
	}
	&_input {
		position: absolute;
		bottom: 0;
		padding: 1.5rem 0;
		width: 100%;
		height: 10%;
		@include rowCenter();
	}
}

.ScrollToBottom {
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, -2rem);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: var(--bg-foreground);
	@include rowCenter();
	border: none;
	cursor: pointer;
	z-index: 999;

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: grey;
	}
}

@media only screen and (max-width: 800px) {
	.ChatWindow {
		position: relative;
		@include fill_container;

		&_messages {
			width: 100%;
		}

		&_input {
			width: 100%;
		}
	}
}
