.CardioDetails {
	width: 100%;

	&_title {
		font-size: 1.5rem;
		font-weight: 700;
		color: $text3;
	}
	&_details {
		width: 100%;
		@include flex_row(center, center, wrap);
		gap: 0.5rem 1rem;
	}
}

$size: 4rem;
$icon: calc($size - 30%);

.TypeBadge {
	width: $size;
	height: $size;
	min-width: $size;
	min-height: $size;
	max-width: $size;
	max-height: $size;
	border-radius: 50%;
	border: $borderLight;
	@include rowCenter();

	&_icon {
		width: $icon;
		height: $icon;
		fill: #fff;
	}
}

.DetailsItem {
	width: max-content;
	height: max-content;
	@include flex_row(flex-start, center);
	font-size: 1.6rem;
	margin-bottom: 1rem;
	color: $text3;
	gap: 0 0.5rem;

	&_item {
		width: 100%;
		height: max-content;
		@include flex_row(flex-start, center);

		&_icon {
			width: 1.8rem;
			height: 1.8rem;
			fill: $text2;
			margin-right: 0.8rem;
		}
	}
	&_main {
		width: 100%;
		@include flex_row(flex-start, center);
		color: $text1;
	}
}
