@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.HistoryDetails {
	width: 100%;

	&_title {
		font-size: 1.8rem;
		color: $text3;
	}
	&_list {
		width: 100%;
		@include colCenter();
		gap: 1rem 0;
		list-style: none;
	}
}

.HistoryItem {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	border: $borderLight;

	&_name {
		font-size: 1.5rem;
	}
}
