.ScheduleDetails {
	width: 100%;
	padding: 0 0.5rem;

	&_title {
		font-size: 1.5rem;
		font-weight: 700;
		color: $text3;
		margin: 2rem 0 1rem 0;
	}
	&_details {
		width: 100%;
		@include rowCenter();
		gap: 0.5rem 0;
	}
}

@mixin freqDetails() {
	width: 100%;
	min-width: fit-content;
	@include flex_row(space-between, center, wrap);
	gap: 0.5rem 0;
}

.DailyDetails {
	@include freqDetails();
}
.WeeklyDetails {
	@include freqDetails();
}
.MonthlyDetails {
	@include freqDetails();
}
.YearlyDetails {
	@include freqDetails();
}
