.ViewPostWorkout {
	width: 100%;

	&_header {
		width: 100%;
		height: auto;
		@include rowCenter();
		gap: 0 0.5rem;
		text-align: center;
		font-size: 1.7rem;
		font-weight: 700;
		margin-top: 2rem;
	}

	&_ended {
		width: 100%;
		@include colCenter();

		&_icon {
			width: 10rem;
			height: 10rem;
			fill: $accentGreen;
		}
		&_title {
			font-size: 2.5rem;
			font-weight: 800;
			color: $accentBlue;
		}
	}

	&_main {
		width: 100%;
		padding: 4rem 1rem;
	}
}
