.WorkoutDetails {
	width: 100%;

	&_duration {
		width: max-content;
		border-radius: 0.5rem;
		padding: 0 0.5rem;
		@include flex_row(flex-start, center);
		gap: 0 1rem;

		&_icon {
			width: 1.8rem;
			height: 1.8rem;
			fill: $accent;
			margin-right: auto;
		}
	}
}
