.StreaksSummary {
	width: 100%;
	max-width: 90rem;
	font-size: 1.6rem;
	@include flex_row(center, flex-start);
	gap: 1rem 0.5rem;
	flex-basis: auto;
}

.StreakItem {
	flex: 1;
	border-radius: 1rem;
	border: $borderLight;
	@include flex_col(flex-start, center);
	gap: 0 1rem;
	padding: 0.5rem 1rem 1rem 1rem;

	&_flame {
		height: 100%;
		@include flex_row(center, center);
	}

	&_details {
		width: 100%;

		&_label {
			color: $text2;
			font-size: 1.4rem;
		}
		&_streak {
			// color: var(--blueGrey400);
			font-weight: 600;
			font-size: 1.6rem;
			color: #fff;

			& > b {
				font-size: 1.8rem;
				font-size: 2rem;
				font-weight: 800;
				// color: $accentBlue;
			}
		}
		&_about {
			font-size: 1.3rem;
			color: $text3;
			margin-top: 0.8rem;
		}
	}
}

@media only screen and (max-width: 800px) {
	.StreakSummary {
		width: 100%;
		min-width: 100%;
		@include colCenter();
	}
	.StreakItem {
		align-self: center;
	}
}
