.JobsSettings {
	width: 100%;
	@include flex_col(flex-start, flex-start);
	gap: 2rem 0;
}

@mixin status($color) {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: $color;
	color: #fff;
	font-size: 1.4rem;
	@include rowCenter();
}

.BatchSummary {
	width: 100%;
	height: 15rem;
	padding: 1rem;
	border-radius: 1rem;
	border: $borderLight;
	background-color: var(--bg-foreground);

	&_header {
		width: 100%;
		height: 7rem;

		&_top {
			width: 100%;
			height: auto;
			@include flex_row(space-between, flex-start);

			&_btn {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				background-color: var(--cardGoToIcon);
				@include rowCenter();
				margin-left: auto;
				border: none;
				outline: none;

				&_icon {
					width: 2.3rem;
					height: 2.3rem;
					fill: #fff;
				}
			}
		}

		& > h2 {
			color: $text1;
			font-size: 1.7rem;
		}
		& > div {
			color: $text3;
		}
	}

	&_totals {
		width: 100%;
		@include flex_row(space-evenly, center);
		gap: 1rem 1rem;

		&_success {
			@include status(var(--greenBG));
		}
		&_failed {
			@include status(var(--redBG));
		}
		&_skipped {
			@include status(var(--orangeBG));
		}
	}
}
