.SettingsOptions {
	width: 100%;
	list-style: none;
	padding: 1rem 1rem;
	@include flex_col(center, flex-start);
	// gap: 2rem 0;
}

.SettingItem {
	width: 100%;
	height: 100%;
	padding: 1rem 0;
	font-size: 1.5rem;
	color: $text1;
	@include flex_row(flex-start, center);
	border-bottom: $borderLight;

	&_label {
		width: max-content;
		height: 100%;
		text-align: left;
	}

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: $text3;
		margin-left: auto;
	}

	&:hover {
		cursor: pointer;
		color: $accentBlue;
	}
}
