.AIChatPage {
	flex: 1;
	@include fill_container;
	border: 1px solid green;

	&_main {
		@include fill_container;
		border: 1px solid blue;
		@include flex_col(flex-start, flex-start);
	}
}

.NewChatButton {
	width: max-content;
	padding: 0.7rem 0.8rem;
	border-radius: 5rem;
	background-color: transparent;
	border: $border;
	color: $text3;
}
