.AIChatPage {
	flex: 1;
	@include fill_container;
	// overflow-y: hidden;

	&_header {
		width: 100%;
		position: sticky;
	}

	&_main {
		width: 100%;
		height: calc(
			100% - var(--pageHeader) - var(--topNav) - var(--bottomNav) + 5rem
		);
		@include flex_col(flex-start, flex-start);
		// border: 1px solid blue;
	}
}

.NewChatButton {
	width: max-content;
	padding: 0.7rem 0.8rem;
	border-radius: 5rem;
	background-color: transparent;
	border: $border;
	color: $text3;
}

@media only screen and (max-width: 800px) {
	.AIChatPage {
		width: 100%;

		&_main {
			height: calc(100% - 15rem);
			// height: calc(100% - var(--pageHeader) - var(--topNav) - var(--bottomNav));
		}
	}
}
