.AIChatPage {
	flex: 1;
	@include fill_container;

	&_header {
		width: 100%;
		position: sticky;
	}

	&_main {
		width: 100%;
		height: calc(
			100% - var(--pageHeader) - var(--topNav) - var(--bottomNav) + 5rem
		);
		@include flex_col(flex-start, flex-start);
	}
}

.NewChatButton {
	width: max-content;
	padding: 0.7rem 0.8rem;
	border-radius: 5rem;
	background-color: transparent;
	border: $border;
	color: $text3;
}

@mixin suggestionBtn($color: $accentBlue) {
	padding: 0.8rem 1.3rem;
	border-radius: 0.5rem;
	color: $color;
	outline: none;
	background-color: transparent;
	border: 1px solid $color;
}

.SummarizeSuggestion {
	@include suggestionBtn();
}
.GeneratePlanSuggestion {
	@include suggestionBtn($accentGreen);
}

@media only screen and (max-width: 800px) {
	.AIChatPage {
		width: 100%;

		&_main {
			height: calc(100% - 15rem);
			// height: calc(100% - var(--pageHeader) - var(--topNav) - var(--bottomNav));
		}
	}
}
