.AllWorkoutsPage {
	width: 100%;

	&_header {
		width: 100%;
		font-size: 2rem;
		font-weight: 700;
		color: $text1;
		text-align: center;
		height: auto;
		background-color: $background;

		& b {
			font-size: 2.5rem;
			color: $text3;
		}
	}
}

@media only screen and (min-width: $bp-SM) {
	.AllWorkoutsPage {
		max-width: 80rem;
		display: block;
		margin: 0 auto;
	}
}
