.AwardsPage {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-bottom: 4rem;
}

.Section {
	width: 100%;
	max-width: 90rem;

	&_header {
		width: 100%;
		@include flex_row(space-between, flex-start);

		&_title {
			font-size: 1.8rem;
			font-weight: 700;
		}
		&_goTo {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background-color: var(--blueGrey800);
			border: none;
			outline: none;

			&_icon {
				width: 2rem;
				height: 2rem;
				fill: var(--blueGrey200);
			}
		}
	}

	&_children {
		width: 100%;
		padding: 1rem 0;
	}
}

@media only screen and (max-width: 800px) {
	.Section {
		width: 100%;
		max-width: 100%;
	}
}
