.DashboardPage {
	width: 100%;

	&_header {
		width: 100%;
		position: sticky;
		top: 0;
		background-color: $background;
		z-index: 999;
	}

	&_body {
		width: 100%;
		min-height: 22.8rem;
		padding: 2rem 0;

		&_header {
			width: 100%;
			font-size: 1.8rem;
			color: $text3;
			margin-bottom: 1rem;
			padding-left: 0.5rem;
			@include flex_row(space-between, baseline);

			&_btn {
				background-color: transparent;
				border: none;
				outline: none;
				color: $accentBlue;
				font-size: 1.4rem;
				text-decoration: none;
				& > a {
					text-decoration: none;
				}
			}
		}
	}
}

@media only screen and (min-width: $bp-SM) {
	.DashboardPage {
		width: 100%;
		max-width: 90rem;
		display: block;
		margin: 0 auto;
	}
}
