.MedicationDetailsPage {
	width: 100%;

	&_header {
		width: 100%;
		margin-top: -1rem;
		position: sticky;
		background-color: $background;
		top: 0;
	}

	&_main {
		width: 100%;
		padding: 4rem 0;
		@include colCenter();
		gap: 2rem 0;
		padding-bottom: 10rem;
	}
}

.NewScheduleButton {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	outline: none;
	border: 1px solid $text3;
	background-color: transparent;
	@include rowCenter();

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: $text3;
	}
}
