@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.MedicationsPage {
	width: 100%;

	&_header {
		width: 100%;
		position: sticky;
		top: 0;
		padding-bottom: 1rem;
		background-color: $background;
		z-index: 10;
	}

	&_main {
		width: 100%;
		padding: 4rem 0;
		@include colCenter();
		gap: 2rem 0;
		padding-bottom: 10rem;
	}
}

.LogMedButton {
	width: max-content;
	padding: 0.5rem 0.8rem;
	border-radius: 5rem;
	font-size: 1.6rem;
	background-color: $foreground;
	color: $accentBlue;
	border: 1px solid $accentBlue;
	outline: none;
	@include rowCenter();
	gap: 0 0.5rem;

	&_icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: #fff;
		fill: $accentBlue;
	}
}
