@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MedicationDetailsPage {
	width: 100%;

	&_header {
		width: 100%;
		margin-top: -1rem;
		position: sticky;
		background-color: $background;
		top: 0;
	}

	&_main {
		width: 100%;
		padding: 4rem 0;
		@include colCenter();
		gap: 2rem 0;
		padding-bottom: 10rem;
	}
}
