.NotFoundPage {
	@include fill_container;
	@include colCenter();
	padding: 4rem;

	&_goBack {
		padding: 0.6rem 1.8rem;
		border-radius: 5rem;
		font-size: 1.6rem;
		color: #fff;
		border: $borderLight;
		background-color: $accentBlue;
		outline: none;
		&:hover {
			cursor: pointer;
		}
	}
}
