@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.RecentHabitHistoryPage {
	width: 100%;

	&_top {
		width: 100%;
		padding-top: 1rem;
		margin-bottom: 4rem;
		font-size: 1.8rem;
	}
	&_selector {
		width: 100%;
		@include flex_row(flex-end, center);
	}
}
