.SettingsOptionPage {
	width: 100%;
	// max-width: 90rem;
	padding: 2rem 3rem;

	&_back {
		color: $accentBlue;
		font-size: 1.5rem;
	}

	&_header {
		width: 100%;
		padding: 4rem 2rem 2rem 2rem;
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
}
