.SettingsPage {
	width: 100%;
	margin-bottom: 10rem;

	&_header {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		height: 10rem;
		background-color: var(--bg-body);
		@include rowCenter();
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}

	&_main {
		width: 100%;
		display: block;
		@include colCenter();
	}
}
.ExportButton {
	width: max-content;
	height: auto;
	padding: 0.8rem 1.8rem;
	border-radius: 1rem;
	background-color: transparent;
	border: $border;
	outline: none;
	color: var(--blueGrey700);
	font-size: 1.6rem;
	@include rowCenter();
	gap: 0 0.5rem;

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		fill: var(--blueGrey700);
	}

	&:hover {
		cursor: pointer;
	}
}
