.WorkoutsPage {
	@include fill_container;
	padding: 1rem 0;

	&_header {
		position: sticky;
		width: 100%;
		// height: 12rem;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		background-color: var(--bg-body);
		// gap: 0 1rem;
	}
	&_main {
		@include fill_container;
		padding: 1rem 2rem;

		&_top {
			width: 100%;
			height: auto;
			@include flex_row(flex-start, center);
			gap: 0 1rem;
		}
		&_list {
			width: 100%;

			&_done {
				width: 100%;
				@include rowCenter();
			}
		}
	}
}

.WorkoutHeader {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 12rem;
	padding: 1rem 2rem;
	background-color: var(--bg-body);
	@include flex_row(space-between, center);

	&_main {
		display: flex;
		flex-direction: column;
		padding-left: 1rem;
		margin-right: auto;
		width: max-content;
		height: 100%;

		&_today {
			font-size: 1.5rem;
			color: $text2;
			margin-right: auto;
		}
		&_label {
			font-size: 3.5rem;
			color: $text1;
			margin-right: auto;
		}
	}

	&_actions {
		width: 100%;
		margin-left: auto;
		@include flex_row(flex-end, center);
	}
}

.HeaderActions {
	position: absolute;
	top: 7rem;
	right: 1.8rem;
	display: block;
	width: max-content;
	height: 10rem;
	@include colCenter();
	gap: 2rem 0;
	// border: 1px solid $text3;
	border-radius: 5rem;
	background-color: $foreground;
}

.ActionButton {
	$width: max-content;
	width: max-content;
	height: 3rem;
	padding: 0.5rem 1rem;
	color: #ff005b;
	font-size: 1.5rem;
	font-weight: 600;

	border-radius: 50%;
	border-radius: 5rem;
	border: none;
	outline: none;
	@include rowCenter();
	gap: 0 0.5rem;
	box-shadow: -4px 5px 46px -19px rgba(0, 124, 255, 1);
	box-shadow: -4px 5px 100px -19px rgba(0, 124, 255, 1);
	background-color: rgba(255, 0, 91, 0.2);

	&_icon {
		$iconSize: 1.8rem;
		width: $iconSize;
		height: $iconSize;
		fill: #ff005b;
	}
}

.ActionItem {
	position: relative;
	width: 3rem;
	height: 3rem;
	min-width: 3rem;
	min-height: 3rem;
	max-width: 3rem;
	max-height: 3rem;
	border-radius: 50%;
	border: 1px solid $text3;
	outline: none;
	background-color: $foreground;

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: $text3;
	}

	&_label {
		position: absolute;
		top: 0.5rem;
		right: 3.7rem;
		display: block;
		width: max-content;
		color: $text3;
	}
}

.ActionsPanel {
	width: 100%;
	@include flex_row(flex-start, center);
	gap: 0 1rem;
}
$bubbleColor: $text2;

.GoalsButton {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: $foreground;
	outline: none;
	border: 1px solid $bubbleColor;
	@include rowCenter();

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		// fill: $text3;
		fill: $bubbleColor;
	}
}

.CalendarButton {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: $foreground;
	outline: none;
	// border: $borderLight;
	border: 1px solid $bubbleColor;
	@include rowCenter();

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		// fill: $text3;
		fill: $bubbleColor;
	}
}
.TrendsButton {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: $foreground;
	outline: none;
	// border: $borderLight;
	border: 1px solid $bubbleColor;
	@include rowCenter();
	// margin-left: auto;

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		// fill: $text3;
		fill: $bubbleColor;
	}
}

.SearchButton {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: $foreground;
	outline: none;
	border: $borderLight;
	border: 1px solid $bubbleColor;
	@include rowCenter();
	margin-left: auto;

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		// fill: $text3;
		fill: $bubbleColor;
	}
}

.AllDone {
	width: max-content;
	font-size: 1.5rem;
	color: $accentGreen;
	@include rowCenter();
	text-align: center;
	padding: 0.3rem 1rem;
	border-radius: 5rem;
	border: 1px solid $accentGreen;
	background-color: var(--greenBG);
}

@media only screen and (min-width: $bp-SM) {
	.WorkoutsPage {
		max-width: 80rem;
		display: block;
		margin: 0 auto;
	}
}
