.WorkoutDetailsPage {
	width: 100%;
	padding: 0 2rem;

	&_main {
		width: 100%;
		padding: 1rem 2rem;
	}
}

.HeaderActions {
	width: 100%;
	height: 6rem;
	margin-bottom: 0.6rem;
	padding: 1rem 1rem;
	@include flex_row(flex-end, flex-end);
	gap: 0 1rem;

	&_edit {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		outline: none;
		border: none;
		background-color: transparent;
		color: $text3;
		background-color: rgba(255, 119, 0, 0.2);
		@include rowCenter();

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: $accentOrange;
		}
	}
	&_delete {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		outline: none;
		border: none;
		background-color: transparent;
		color: $text3;
		background-color: rgba(185, 0, 52, 0.3);
		@include rowCenter();

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: $accentRed;
		}
	}
}

.Header {
	$align: left;
	$place: flex-start;

	width: 100%;
	height: 10rem;

	&_type {
		width: 100%;
		font-weight: 700;
		color: $text3;
		font-size: 1.6rem;
		text-align: $align;
	}

	&_name {
		@include ellipsis(2.8rem);
		color: $text1;
	}

	&_desc {
		color: $text3;
		font-size: 1.6rem;
		text-align: $align;
		margin-right: auto;
	}
}
