.WorkoutDetailsPage {
	width: 100%;
	padding: 0 2rem;

	&_main {
		width: 100%;
		padding: 2rem 0;
	}
}

@mixin headerBtn() {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	outline: none;
	border: none;
	background-color: transparent;
	color: $text3;

	@include rowCenter();

	&_icon {
		width: 2rem;
		height: 2rem;
	}
}

.HeaderActions {
	width: 100%;
	height: 6rem;
	margin-bottom: 0.6rem;
	padding: 1rem 0;
	@include flex_row(space-between, flex-end);

	&_left {
		width: 50%;
		height: 100%;
		@include flex_row(flex-start, flex-end);
		gap: 0 1rem;
	}
	&_right {
		width: 50%;
		height: 100%;
		@include flex_row(flex-end, flex-end);
		gap: 0 1rem;
	}

	&_back {
		width: max-content;
		height: 3rem;
		border-radius: 5rem;
		padding: 0 0.5rem;
		padding-right: 0.7rem;
		outline: none;
		border: none;
		background-color: transparent;
		color: $accentBlue;
		background-color: transparent;
		@include rowCenter();
		gap: 0 0.3rem;
		&_icon {
			width: 1.8rem;
			height: 1.8rem;
			fill: $accentBlue;
		}
	}
	&_search {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		outline: none;
		border: none;
		background-color: transparent;
		color: $text3;
		background-color: var(--blueGrey900);
		@include rowCenter();
		color: grey;
		&_icon {
			width: 1.8rem;
			height: 1.8rem;
			fill: var(--blueGrey100);
		}
	}

	&_edit {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		outline: none;
		border: none;
		background-color: transparent;
		color: $text3;
		background-color: rgba(255, 119, 0, 0.2);
		@include rowCenter();

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: $accentOrange;
		}
	}
	&_delete {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		outline: none;
		border: none;
		background-color: transparent;
		color: $text3;
		background-color: rgba(185, 0, 52, 0.3);
		@include rowCenter();

		&_icon {
			width: 2rem;
			height: 2rem;
			fill: $accentRed;
		}
	}
}

.Header {
	$align: left;
	$place: flex-start;

	width: 100%;
	height: 10rem;

	&_type {
		width: 100%;
		font-weight: 700;
		color: $text3;
		font-size: 1.6rem;
		text-align: $align;
	}

	&_name {
		@include ellipsis(2.8rem);
		color: $text1;
	}

	&_desc {
		color: $text3;
		font-size: 1.6rem;
		text-align: $align;
		margin-right: auto;
	}
}
