.AIChatMessagesWindow {
	width: 100%;
	height: 60dvh;
	// border: 1px solid red;
	max-height: 100rem;
	padding: 1rem 0 1rem 0;
	// overflow-y: hidden;

	&_messages {
		width: 100%;
		height: 100%;
		@include flex_col(flex-start, flex-start);
		gap: 3rem 0;
		overflow-y: auto;
	}
}
