.ErrorBoundary {
	width: 100%;
	height: 100%;
	@include colCenter();
	gap: 2rem 0;

	&_title {
		font-size: 3rem;
		font-weight: 800;
		color: var(--accent-red);
	}

	&_message {
		font-size: 1.6rem;
		color: $text1;
	}

	&_button {
		padding: 0.8rem 1.6rem;
		border-radius: 0.5rem;
		border: none;
		outline: none;
		background-color: var(--accent-blue);
		font-size: 1.6rem;
		color: $text1;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background-color: var(--accent-red) 4;
		}
	}
}
