@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.FadeSlideIn {
	position: relative;
	width: auto;
	height: auto;
	will-change: opacity;
	z-index: 1;
}
