@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.ProgressBar {
	width: 100%;
	min-width: 15rem;
	// min-width: 20rem;
	height: 1.3rem;
	border-radius: 5rem;
	border: $borderLight;

	&_track {
		width: 100%;
		height: 100%;
		border-radius: 5rem;
		background-color: var(--blueGrey800);

		&_value {
			width: 0%;
			height: 100%;
			border-radius: 5rem;
			transition: width 0.5s ease-in-out;
		}
	}
}
