@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;
@use "../../sass/custom" as *;

.RingSegments {
	width: 100%;
	height: auto;
	@include rowCenter();
	padding: 2rem 0;

	& circle {
		transition: width 0.4s ease-in;
	}
}
